html {
  height: 100%;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  margin: 0;
  background-color: "#F8F8F9";
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
}
.h1 {
  font-size: 2em;
}
section h1,
section h2,
section p {
  max-width: 660px;
  margin-left: auto;
  margin-right: auto;
}
section p {
  font-family: "Cardo", sans-serif;
}

.navIntro {
  margin-bottom: 20px;
  border: solid;
  background-color: black;
}
.name {
  color: white;
  justify-self: start;
  flex: 1;
  align-self: center;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-left: 10px;
  font-size: 20px;
  font-family: "Overpass", sans-serif;
}
.links {
  flex: 2;
  list-style-type: none;

  z-index: 1;
  padding: 0;
  text-align: center;
  font-size: 10px;
}
.links li a {
  text-decoration: none;
}
#page-nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  width: 80px;
  top: 0;
  background: black;
  text-align: right;
}

#page-nav label {
  display: inline-block;
  color: white;
  font-style: normal;
  font-size: 30px;
  padding: 10px;
}

#hamburger {
  display: none;
}

#page-nav ul li {
  border-top: 1px solid black;
  padding: 10px;
}
a {
  color: white;
}
#page-nav ul {
  display: none;
}
#page-nav input:checked ~ ul {
  display: inline-block;
}

main {
  padding: 0 20px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding: none;
}

.grabberIntro {
  text-align: center;
}

.projectTitle {
  text-align: center;
}
.project1Img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 5px;
  border: 2px solid black;
}
.linkColor {
  color: #3f8abf;
  font-weight: bold;
}
.backUp {
  text-align: center;
}
#contacts {
  margin-top: 25px;
  margin-bottom: none;
  text-align: center;
  padding: 10px;
}
.connect {
  font-weight: bold;
}
.connectDirections {
  color: white;
}
.email {
  color: black;
}
.email:hover {
  background-color: red;
}

.legal {
  text-align: center;
  margin-top: 10px;
  color: white;
  background-color: black;
}

/* tablet users */
@media screen and (min-width: 827px) {
  .backUp {
    text-decoration: none;
    color: #3f8abf;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .projectTitle {
    text-align: center;
  }
  .project {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
  }
  #hamburger {
    display: none;
  }
  #page-nav ul {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 20px;
    width: 480px;
    padding-left: 40px;
  }
  #page-nav ul li {
    /* display: inline-block; */
    padding: 10px;
    font-size: 16px;
  }
  #page-nav label {
    display: none;
    color: white;
    font-style: normal;
    font-size: 30px;
    padding: 10px;
  }

  #page-nav ul li a:hover {
    color: white;
  }
  #page-nav ul li a {
    color: mediumspringgreen;
    text-decoration: none;
  }
  #page-nav ul li a::before {
    content: "";
    display: block;
    height: 5px;
    width: 0%;
    background-color: white;
    top: 0;
  }
  #page-nav ul li a:hover::before {
    width: 100%;
    transition: all ease-in-out 300ms;
  }
}
